:root {
  --white: white;
  --black: black;
}

.w-layout-layout {
  grid-row-gap: 20px;
  grid-column-gap: 20px;
  grid-auto-columns: 1fr;
  justify-content: center;
  padding: 20px;
}

.w-layout-cell {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

body {
  color: #333;
  background-color: #2d5a8d;
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 20px;
}

.div-block {
  justify-content: center;
  align-items: center;
  display: flex;
  position: fixed;
}

.body {
  background-color: #2d5a8d;
}

.quick-stack {
  max-height: 70%;
  max-width: none;
  min-height: 70%;
  min-width: auto;
  aspect-ratio: auto;
  padding: 10px;
  overflow: visible;
}

.image {
  max-height: 7%;
  max-width: none;
  min-height: 7%;
}

.image-2 {
  max-height: 7%;
  max-width: none;
  min-height: 6%;
  align-self: flex-end;
}

.footer {
  padding: 10px 10px 0;
  position: fixed;
  top: auto;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.section-2 {
  max-height: 60%;
  min-height: auto;
  padding: 10px;
  position: absolute;
  top: 0%;
  bottom: auto;
  left: 0%;
  right: 0%;
}

.paragraph {
  font-size: 19px;
}

.paragraph-2 {
  color: #fff;
  align-self: flex-start;
  font-size: 19px;
  line-height: 24px;
}

.quick-stack-2 {
  padding: 0;
}

.cell {
  align-items: flex-start;
  font-size: 17px;
  display: flex;
}

.header {
  aspect-ratio: auto;
  flex-flow: row;
  justify-content: center;
  padding: 10px;
  display: block;
  position: fixed;
  top: 0%;
  bottom: auto;
  left: 0%;
  right: 0%;
}

.patrick-white {
  max-height: 70%;
  object-fit: scale-down;
  flex-flow: row;
  align-content: stretch;
  justify-content: space-between;
  align-items: stretch;
  padding-bottom: 0;
  display: flex;
}

.image-3 {
  max-height: none;
  max-width: 43%;
  object-fit: contain;
  align-self: flex-start;
}

.white {
  max-width: 50%;
  flex-direction: row;
  justify-content: flex-end;
  display: flex;
}

.image-4 {
  max-width: 35.18%;
  object-fit: contain;
  align-self: flex-start;
  position: static;
}

.link, .link-2, .link-3 {
  color: #fff;
}

.text-span, .text-span-2, .text-span-3 {
  text-decoration: underline;
}

.header-mobile {
  aspect-ratio: auto;
  flex-flow: row;
  justify-content: center;
  padding: 10px;
  display: none;
  position: fixed;
  top: 0%;
  bottom: auto;
  left: 0%;
  right: 0%;
}

.patrick-white-mobile {
  max-height: 70%;
  object-fit: scale-down;
  flex-flow: row;
  align-content: stretch;
  justify-content: space-between;
  align-items: stretch;
  padding-bottom: 0;
  display: flex;
}

.footer-mobile {
  padding: 10px 10px 0;
  display: none;
  position: absolute;
  top: auto;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.text-mobile {
  color: #fff;
  align-self: flex-start;
  font-size: 19px;
  line-height: 24px;
}

.mobile-footer-stack {
  padding: 0;
}

.image-5 {
  max-width: 60%;
  align-self: flex-end;
  padding-bottom: 10px;
}

.cell-3 {
  justify-content: flex-start;
  padding-bottom: 0;
}

.video {
  padding-left: 40px;
  padding-right: 40px;
}

.vimeo-embed-section {
  object-fit: contain;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 0;
  margin-left: 0;
  padding: 0;
  display: flex;
}

.section-3 {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  object-fit: fill;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  padding: 10px;
  display: block;
  position: fixed;
  top: 0%;
  bottom: auto;
  left: 0%;
  right: 0%;
}

.video-2 {
  max-height: none;
  max-width: 80%;
  object-fit: contain;
  flex: 0 auto;
  justify-content: flex-start;
  align-self: center;
  padding-bottom: 0;
  display: flex;
  position: static;
  top: auto;
  bottom: auto;
  left: 0%;
  right: 0%;
}

.container {
  max-width: none;
  text-align: center;
  justify-content: center;
  display: inline-block;
}

.vimeo-block {
  position: fixed;
  top: 10px;
  bottom: 25%;
  left: 10px;
  right: 10px;
}

@media screen and (max-width: 991px) {
  .image {
    max-height: 200px;
    max-width: none;
    align-self: flex-start;
  }

  .image-2 {
    max-height: 200px;
    max-width: none;
    min-height: auto;
    align-self: flex-end;
  }
}

@media screen and (max-width: 479px) {
  .footer {
    object-fit: fill;
    display: none;
    position: absolute;
  }

  .header {
    display: none;
  }

  .image-3 {
    max-width: 50%;
  }

  .image-4 {
    max-width: 41%;
  }

  .div-block-2 {
    flex-direction: row;
    justify-content: flex-start;
    display: flex;
  }

  .header-mobile {
    display: block;
  }

  .patrick-white-mobile {
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr;
    grid-auto-columns: 1fr;
    display: flex;
  }

  .footer-mobile {
    object-fit: fill;
    display: block;
    position: absolute;
  }

  .text-mobile {
    font-size: 18px;
    line-height: 24px;
  }

  .cell-2 {
    display: block;
  }

  .body-2 {
    background-color: #2d5a8d;
  }

  .text-span-4 {
    text-decoration: underline;
  }

  .link-4 {
    color: #e2cfcf;
  }

  .link-4.w--current {
    color: #fff;
  }
}

#w-node-_81323c78-dfdc-6812-9bdb-92b065789528-7f420f7d, #w-node-_07bd4b0a-746e-09d7-a577-9314f7b8ef91-7f420f7d, #w-node-ff86e54c-1ee3-1285-2560-f6d70c327f68-59aa846d, #w-node-_4663ff17-f87b-86d9-a249-a9960d93715f-59aa846d {
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
}

@media screen and (max-width: 479px) {
  #w-node-_14a85260-1351-be4d-7520-5628435150fb-7f420f7d {
    justify-self: end;
  }

  #w-node-_07bd4b0a-746e-09d7-a577-9314f7b8ef91-7f420f7d {
    grid-template-rows: auto;
    grid-template-columns: 1fr;
  }

  #w-node-_908304e2-0c6e-dcf4-0246-ac324a92dc21-59aa846d {
    justify-self: end;
  }

  #w-node-_4663ff17-f87b-86d9-a249-a9960d93715f-59aa846d {
    grid-template-rows: auto;
    grid-template-columns: 1fr;
  }
}
