@charset "UTF-8";
.parent {
position: relative;
  }
.PW {
width: 100%;
position: fixed;
  top: 0%;
  bottom: auto;
  left: 0%;
  right: 0%;
}
.footer {
position: fixed;
width: 100%;
bottom: 0;
}

.video {
	position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -50px;
    width: 100px;
    height: 100px;
}

